[Unit]
Description=Mooker PPPoE WAN 세션 %i
Documentation=man:pppd(8)
After=network-pre.target mooker-nftables.service
Wants=network-pre.target
# pppd가 죽어도 회선은 다시 살아나야 한다.
StartLimitIntervalSec=0

[Service]
Type=simple
# peers 파일은 Router Plane이 생성한다: /etc/ppp/peers/mooker-<wan 이름>
ExecStart=/usr/sbin/pppd call mooker-%i nodetach
Restart=always
RestartSec=5s
User=root
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW CAP_SYS_MODULE

[Install]
WantedBy=multi-user.target
